.main {
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: var(--todo-bg);
  place-items: center;
}

.flex-row {
  padding: 0 15px;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0;
    color: $m-c;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
  }
}

.theme-block #theme {
  display: none;
}

.theme-block #theme + label::before {
  content: "";
  background: url(./../imags/icon-sun.svg);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.theme-block #theme:checked + label::before {
  background: url(./../imags/icon-moon.svg);
}

.todolist-container {
  width: 400px;
  height: 550px;
  background-color: var(--todo-bg);
  box-shadow: $m-sh;
  border-radius: $m-br;
}

.todolist-adder-section {
  width: calc(100% - 2rem);
  height: 150px;
  margin: 1rem auto;
  background-color: var(--main-bg);
  box-shadow: $m-sh;
  border-radius: $m-br;
}

.delete-all {
  margin: 0 1rem;
  margin-top: 30px;
  padding: 8px 16px;
  background-color: $m-e;
  border: none;
  border-radius: calc($m-br / 2);
  color: $m-c;
}

.delete-all:disabled {
  opacity: 0.5;
}

.task-item {
  box-shadow: $m-sh;
  border-radius: $m-br;
  margin: 15px auto;
  margin-inline: 1rem;
  padding: 1rem 1.25rem;
  animation: bounce 0.5s ease-in-out;
  p {
    padding: 10px 0;
    font-family: sans-serif;
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    word-break: break-word;
    color: var(--font-color);
  }
}

.delete-notification {
  box-shadow: $m-sh;
  border-radius: $m-br;
  background-color: $m-c;
  position: fixed;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 10px 1rem;
  left: 50%;
  bottom: -100%;
  transition: 0.5s;
  transform: translateX(-50%);
  p {
    flex: 1;
  }

  button {
    border: none;
    border-radius: 5px;
    background-color: $m-s;
    padding: 5px 8px;
    color: $m-c;
  }
}

.remove-item {
  animation: removeItem 0.5s ease-in-out forwards;
}

@keyframes removeItem {
  50% {
    height: auto;
    margin: 15px auto;
    padding: 1rem 1.25rem;
    transform: translateX(-120%);
  }
  51% {
    height: 0;
    padding: 0;
    margin: 0;
    transform: translateX(-120%);
  }
  100% {
    height: 0;
    padding: 0;
    margin: 0;
    transform: translateX(-120%);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.task-item__btn-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 10px 20px;
  button {
    color: $m-c;
    padding: 5px;
    border: none;
    border-radius: calc($m-br / 2);
    transition: 0.2s;
    i {
      pointer-events: none;
    }
    &:first-child {
      background-color: $m-s;
    }
    &:nth-child(2) {
      background-color: gold;
    }
    &:nth-child(3) {
      background-color: dodgerblue;
    }
    &:last-child {
      background-color: $m-e;
    }
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &:active {
      transform: scale(1.1);
    }
  }
}

.task-container {
  overflow-y: auto;
  width: 100%;
  height: 290px;
}

.adder-section__form {
  display: flex;
  flex: 1;
  padding: 1rem;
  gap: 0 20px;
  button {
    background-color: $m-s;
    color: $m-c;
    border-radius: calc($m-br / 2);
    cursor: pointer;
    box-shadow: $m-sh;
    border: none;
    padding-inline: 1rem;
  }
}

.form__input-wrapper {
  align-items: center;
  flex: 1;
  box-shadow: $m-sh;
  border-radius: calc($m-br / 2);
  padding: 10px 12px;
  display: flex;
  cursor: pointer;
  input {
    width: 100%;
    background-color: var(--main-bg);
    border: none;
    outline: none;
  }
  i {
    color: $m-e;
    font-size: 14px;
  }
}

.completed {
  background-color: $m-s;
  color: $m-c;
  text-decoration: line-through;
  padding-inline: 10px 12px !important;
  border-radius: calc($m-br / 2);
}

.changing {
  border-radius: calc($m-br / 2);
  border: 1px solid gray !important;
  outline: none;
  padding: 10px 12px !important;
}

@media (max-width: 450px) {
  .todolist-container {
    width: 230px;
  }

  .flex-row h1 {
    font-size: 2rem;
  }

  .task-item__btn-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 10px;
  }
  .delete-notification {
    width: 200px;
    font-size: 12px;
  }

  .main {
    place-items: inherit;
    align-items: center;
    justify-content: center;
  }
  .adder-section__form button {
    padding-inline: initial;
    padding: 0 5px;
    font-size: 12px;
  }

  .adder-section__form {
    gap: 0 10px;
  }
  .form__input-wrapper input {
    font-size: 10px;
  }

  .form__input-wrapper i {
    padding-left: 10px;
  }
}
